@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
#encabezado {
  background-color: black;
  margin-top: 1rem;
  padding-bottom: 3rem;
}
#encabezado .row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}
#encabezado .logo {
  display: flex;
  flex-direction: column;
}
#encabezado .logo img {
  width: 10rem;
  border-radius: 75px;
}
#encabezado .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#encabezado .menu .container-fluid {
  padding: 0;
}
#encabezado .menu li {
  padding: 15px;
}
#encabezado .menu li a {
  font-size: 1rem;
  color: white;
  font-family: "Anton", sans-serif;
}
#encabezado .menu li a:hover {
  color: darkblue;
}
#encabezado .menu .btn {
  font-family: "Anton", sans-serif;
  color: white;
}
#encabezado .menu .btn:hover {
  color: darkblue;
}
#encabezado .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
#encabezado .redes img {
  width: 2rem;
  padding: 0.3rem;
}
@media (max-width: 568px) {
  #encabezado .redes {
    display: none;
  }
  #encabezado .logo img {
    width: 8rem;
  }
}
@media (max-width: 990px) {
  #encabezado .redes {
    justify-content: flex-end;
  }
}
@media (max-width: 568px) {
  #encabezado .menu {
    justify-content: flex-end;
  }
  #encabezado .menu .navbar-nav {
    align-items: flex-end;
  }
}

.imgCarrito, .juegos .grillaJuegos .pelis_juegos img, .estrenos .peliculas .pelis_juegos img, .estrenos .juegos .pelis_juegos img {
  height: 22rem;
  margin-top: 2rem;
  border: solid 1px white;
  border-radius: 12%;
  box-shadow: 0px 0px 15px 0px white;
  width: 15rem;
}

#sugerencias .btnFormulario, .shopping-cart .comprarButton, .juegos .grillaJuegos .pelis_juegos .btn, .estrenos .peliculas .pelis_juegos .btn, .estrenos .peliculas .pelis_juegos .btnInfo, .estrenos .juegos .pelis_juegos .btn, .estrenos .juegos .pelis_juegos .btnInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px blueviolet;
  font-size: 1rem;
}

.presentacion {
  margin: 0;
  padding: 0;
}
.presentacion h1 {
  margin: 0 auto;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  color: white;
}

@media (max-width: 568px) {
  .presentacion h1 {
    font-size: 1rem;
  }
}
.carousel {
  margin-top: 2rem;
}
@media (max-width: 568px) {
  .carousel {
    width: 100%;
  }
}

.estrenos .filtroGenero .activo {
  color: #F25C05;
  text-decoration: none;
  padding: 2rem;
}
.estrenos .peliculas, .estrenos .juegos {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
}
.estrenos .peliculas .pelis_juegos img:hover, .estrenos .juegos .pelis_juegos img:hover {
  transform: scale(1.1, 1.1);
  border: solid 1px blueviolet;
  color: deeppink;
}
.estrenos .peliculas .pelis_juegos .contenidoCard h5, .estrenos .juegos .pelis_juegos .contenidoCard h5 {
  margin-top: 1.4rem;
  font-size: 1.4rem;
}
.estrenos .peliculas .pelis_juegos .contenidoCard p, .estrenos .juegos .pelis_juegos .contenidoCard p {
  margin: 1rem;
}
.estrenos .peliculas .pelis_juegos .btn, .estrenos .peliculas .pelis_juegos .btnInfo, .estrenos .juegos .pelis_juegos .btn, .estrenos .juegos .pelis_juegos .btnInfo {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
.estrenos .peliculas .pelis_juegos .btn:hover, .estrenos .juegos .pelis_juegos .btn:hover {
  color: #c501e2;
  box-shadow: 0px 0px 30px 0px #F25C05;
}
.estrenos .peliculas .pelis_juegos .btnInfo:hover, .estrenos .juegos .pelis_juegos .btnInfo:hover {
  color: #c501e2;
  box-shadow: 0px 0px 30px 0px #F25C05;
}
.estrenos .cardColor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12%;
}
.estrenos .item-details h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.estrenos .item-details p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
@media (max-width: 568px) {
  .estrenos .item-details p {
    display: none;
  }
}

.juegos .grillaJuegos {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
}
.juegos .grillaJuegos .pelis_juegos img:hover {
  transform: scale(1.1, 1.1);
}
.juegos .grillaJuegos .pelis_juegos .contenidoCard h5 {
  margin-top: 1.4rem;
  font-size: 1.4rem;
}
.juegos .grillaJuegos .pelis_juegos .contenidoCard p {
  margin: 3px;
}
.juegos .grillaJuegos .pelis_juegos .btn:hover {
  color: #c501e2;
}

#contenidoCarrito img {
  border-radius: 35px;
  width: 5rem;
}

.titulos {
  margin-top: 1rem;
  color: white;
}

@media (max-width: 568px) {
  .imgCarrito {
    height: 15rem;
    width: 8rem;
  }
}

.nombreJuegoPeli {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-details {
  margin-top: 1rem;
}

.divPeliculaJuego {
  color: white;
}

.btn_ScrollArriba {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #c501e2;
  background: white;
  padding: 0.3rem 0.6rem;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  display: none;
}

.shopping-cart .comprarButton {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
.shopping-cart .btn:hover {
  color: #c501e2;
  box-shadow: 0px 0px 30px 0px #F25C05;
}

#sugerencias {
  border: solid 1px white;
}
#sugerencias .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 568px) {
  #encabezado .row {
    display: flex;
    flex-direction: row;
  }
}
#sugerencias {
  width: 30rem;
  margin-top: 2rem;
  padding: 0;
}
#sugerencias .form-control, #sugerencias .form-check-input, #sugerencias .form-check-label, #sugerencias .form-select, #sugerencias .form-label {
  margin: 0.5rem;
}
#sugerencias .btnFormulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: auto;
  text-decoration: none;
  color: white;
  margin: 1rem;
}
#sugerencias .btnFormulario:hover {
  border: solid 1px blueviolet;
  color: deeppink;
}
@media (max-width: 568px) {
  #sugerencias {
    width: 100%;
  }
}

.shoppingCartItemQuantity {
  height: 2rem;
  width: 3rem;
}

@media (max-width: 568px) {
  .cartTitle {
    display: none;
  }
}

body {
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: black;
}

footer {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 0;
  border: solid 1px;
}
footer .redesFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
footer .redesFooter img {
  width: 2rem;
  padding: 0.3rem;
}
@media (max-width: 568px) {
  footer .redesFooter {
    display: none;
  }
  footer .redesFooter .logo img {
    width: 8rem;
  }
}
@media (max-width: 990px) {
  footer .redes {
    justify-content: flex-end;
  }
}
@media (max-width: 568px) {
  footer .menu {
    justify-content: flex-end;
  }
  footer .menu .navbar-nav {
    align-items: flex-end;
  }
}
footer .contacto {
  color: white;
}
footer .contacto p {
  font-size: 1rem;
}
footer .contacto .dedicatoria p {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 568px) {
  footer .contacto p {
    font-size: 0.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
