@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
#encabezado {
  background-color: black;
  margin-top: 1rem;
  padding-bottom: 3rem;
}
#encabezado .row {
  padding: 0;
  margin: 0 auto;
}
#encabezado .logo {
  display: flex;
  flex-direction: column;
}
#encabezado .logo img {
  width: 10rem;
  border-radius: 75px;
}
#encabezado .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#encabezado .menu .container-fluid {
  padding: 0;
}
#encabezado .menu li {
  padding: 15px;
}
#encabezado .menu li a {
  font-size: 1rem;
  color: white;
  font-family: "Anton", sans-serif;
}
#encabezado .menu li a:hover {
  color: darkblue;
}
#encabezado .menu .btn {
  font-family: "Anton", sans-serif;
  color: white;
}
#encabezado .menu .btn:hover {
  color: darkblue;
}
#encabezado .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
#encabezado .redes img {
  width: 2rem;
  padding: 0.3rem;
}
@media (max-width: 568px) {
  #encabezado .redes {
    display: none;
  }
  #encabezado .logo img {
    width: 8rem;
  }
}
@media (max-width: 990px) {
  #encabezado .redes {
    justify-content: flex-end;
  }
}
@media (max-width: 568px) {
  #encabezado .menu {
    justify-content: flex-end;
  }
  #encabezado .menu .navbar-nav {
    align-items: flex-end;
  }
}

.juegos .grillaJuegos .pelis_juegos img, .estrenos .peliculas .pelis_juegos img {
  height: 22rem;
  margin-top: 2rem;
  border: solid 1px white;
  box-shadow: 0px 0px 15px 0px #F25C05;
  width: 15rem;
}

.juegos .grillaJuegos .pelis_juegos .btn, .estrenos .peliculas .pelis_juegos .btn, .estrenos .peliculas .pelis_juegos .btnInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px blueviolet;
  width: 75%;
}

.presentacion {
  margin: 0;
  padding: 0;
}
.presentacion h1 {
  margin: 0 auto;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
}

.carousel {
  margin-top: 2rem;
}

.estrenos .filtroGenero .activo {
  color: #F25C05;
  text-decoration: none;
  padding: 2rem;
}
.estrenos .peliculas {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
}
.estrenos .peliculas .pelis_juegos img:hover {
  transform: scale(1.1, 1.1);
}
.estrenos .peliculas .pelis_juegos .contenidoCard h5 {
  margin-top: 1.4rem;
  font-size: 1.4rem;
}
.estrenos .peliculas .pelis_juegos .contenidoCard p {
  margin: 3px;
}
.estrenos .peliculas .pelis_juegos .btn, .estrenos .peliculas .pelis_juegos .btnInfo {
  text-decoration: none;
  color: #F25C05;
}
.estrenos .peliculas .pelis_juegos .btn:hover {
  color: #c501e2;
}
.estrenos .peliculas .pelis_juegos .btnInfo:hover {
  color: #c501e2;
}
@media (max-width: 568px) {
  .estrenos .pelis_juegos img {
    width: 8rem;
  }
}

.juegos .grillaJuegos {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
}
.juegos .grillaJuegos .pelis_juegos img:hover {
  transform: scale(1.1, 1.1);
}
.juegos .grillaJuegos .pelis_juegos .contenidoCard h5 {
  margin-top: 1.4rem;
  font-size: 1.4rem;
}
.juegos .grillaJuegos .pelis_juegos .contenidoCard p {
  margin: 3px;
}
.juegos .grillaJuegos .pelis_juegos .btn:hover {
  color: #c501e2;
}
@media (max-width: 568px) {
  .juegos .pelis_juegos img {
    width: 8rem;
  }
}

ol {
  color: yellow;
}
ol li {
  color: white;
}

#sugerencias {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#sugerencias form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body {
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
