#encabezado{
    background-color: black;
    margin-top: 1rem;
    padding-bottom: 3rem;
    
    .row{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    .logo{
        display: flex;
        flex-direction: column;
        img{
            width:10rem;
            border-radius: 75px;
        }
    }

    .menu{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        .container-fluid{
            padding: 0;
        }
        li{
            padding: 15px;
            a{
                font-size: 1rem;
                color: white;
                font-family: 'Anton', sans-serif;
            }
            a:hover{
                color: darkblue;
            }
        }.btn{
            font-family: 'Anton', sans-serif;
            color: white;
        }
        .btn:hover{
            
            color: darkblue;
        }
        

    }

    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
        padding: 0;
        img{
            width:2rem;
            padding: .3rem;
            
        }
}       

    @media (max-width: 568px){
        .redes{
            display: none;
            
        }
        .logo img{
            width: 8rem;
        }
    }    
    @media (max-width: 990px){
        .redes{
            justify-content: flex-end;
        }
    }
    @media (max-width: 568px){
        .menu{ 
            justify-content: flex-end;
            .navbar-nav{
                align-items: flex-end;
                
            }

        }
    }
    
}

#sugerencias{
    width: 30rem;
    margin-top: 2rem;
    padding: 0;
        .form-control , .form-check-input, .form-check-label, .form-select, .form-label{
            margin: 0.5rem;
        }
        .btnFormulario{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            padding: auto;
            box-shadow: 0px 0px 30px 0px #F25C05;
        }
        .btnFormulario:hover{
            
            border: solid 1px blueviolet;
            color: deeppink;
            
        }
            
}










