//extends//
%imagenPelisJuegos{
    height: 22rem;
    margin-top: 2rem;
    border: solid 1px white;
    border-radius: 12%;
    box-shadow: 0px 0px 15px 0px white;
    width: 15rem;
} 
%botonDeCompra{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: solid 1px blueviolet;
            font-size: 1rem;
            
}



//Titulo princilal//
.presentacion{
    
    margin: 0;
    padding: 0;
    h1{
        margin: 0 auto;
        font-size: 2rem;
        font-family: 'Anton', sans-serif;
        color: white;
    }
   
}

@media (max-width: 568px){
    .presentacion h1{
        font-size: 1rem;
    }
}




//Carousel//
.carousel{
    margin-top: 2rem; 
    @media (max-width: 568px){
            
        width: 100%;
    }
    
}




//grilla de estrenos//
.estrenos{
    
    .filtroGenero{
        .activo{
            color: #F25C05;
            text-decoration: none;
            padding: 2rem;
        }
    }
    .peliculas, .juegos{
        margin-top: 2rem;
        padding: 0;
        width: 100%;
        .pelis_juegos{
                img{
                    @extend %imagenPelisJuegos
                }
                    img:hover{
                        transform: scale(1.1, 1.1);
                        border: solid 1px blueviolet;
                        color: deeppink;
                    }
                .contenidoCard{
                        h5{
                            margin-top: 1.4rem;
                            font-size: 1.4rem;
                            
                        }
                        p{
                            margin: 1rem;
                        }
                    }    
                .btn, .btnInfo{
                     @extend %botonDeCompra;
                     text-decoration: none;  
                     color: white; 
                     margin: 1rem;    
                        }
                        .btn:hover{
                            color: #c501e2;
                            box-shadow: 0px 0px 30px 0px #F25C05
                        }
                        .btnInfo:hover{
                            color: #c501e2;
                            box-shadow: 0px 0px 30px 0px #F25C05
                        }
                    
        }
    }    
    .cardColor{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12%;
       
    }
    .item-details h4  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
       
    }
    .item-details p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        @media (max-width: 568px){
            
            display: none;
        
    }
    }
    

   
}



//grilla de juegos//
   
.juegos{
        .grillaJuegos{
            margin-top: 2rem;
            padding: 0;
            width: 100%;
                
                .pelis_juegos{
                        img{
                            @extend %imagenPelisJuegos
                        }
                            img:hover{
                                transform: scale(1.1, 1.1);
                            }
                        .contenidoCard{
                                h5{
                                    margin-top: 1.4rem;
                                    font-size: 1.4rem;
                                    
                                }
                                p{
                                    margin: 3px;
                                }
                            }    
                        .btn{
                            @extend %botonDeCompra       
                                }
                                .btn:hover{
                                    color: #c501e2;
                                }
                            
                }
        }    

        
}





#contenidoCarrito{
    img{
        border-radius: 35px;
        width: 5rem;
    }
}

.titulos{
    margin-top: 1rem;
    color: white;
}

.imgCarrito{
   
    @extend %imagenPelisJuegos;
    @media (max-width: 568px){
        height: 15rem;    
        width: 8rem;
    }
}
.nombreJuegoPeli{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.item-details{
    margin-top: 1rem;
}
.divPeliculaJuego{
    color: white;
}

//boton para subir al menu

.btn_ScrollArriba{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #c501e2;
    background: white;
    padding: .3rem .6rem;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    display: none;
}
.shopping-cart{
    .comprarButton{
        @extend %botonDeCompra;
                        text-decoration: none;  
                        color: white; 
                        margin: 1rem;     
                        }
                        .btn:hover{
                            color: #c501e2;
                            box-shadow: 0px 0px 30px 0px #F25C05
                        }
}


////sugerencias////@at-root

#sugerencias{
    border: solid 1px white;
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 568px){
    #encabezado .row{
        display: flex;
        flex-direction: row;
        
    }
}

#sugerencias{
    width: 30rem;
    margin-top: 2rem;
    padding: 0;
    
        .form-control , .form-check-input, .form-check-label, .form-select, .form-label{
            margin: 0.5rem;
        }
        .btnFormulario{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            padding: auto;
            box-shadow: 0px 0px 30px 0px #F25C05;
        }
        .btnFormulario:hover{
            
            border: solid 1px blueviolet;
            color: deeppink;
            
        }
        @media (max-width: 568px){
            
            width: 100%;
        }
}
.shoppingCartItemQuantity{
    
        height: 2rem;
        width: 3rem;
        
    }
.cartTitle{
    @media (max-width: 568px){
            
        display: none;;
    }
}