//extends//
%imagenPelisJuegos{
    
    margin-top: 2rem;
    border: solid 1px white;
    box-shadow: 0px 0px 15px 0px #F25C05
} 
%botonDeCompra{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: solid 1px blueviolet;
            width: 75%;
}



//Titulo princilal//
.presentacion{
    
    margin: 0;
    padding: 0;
    h1{
        margin: 0 auto;
        font-size: 2rem;
        font-family: 'Anton', sans-serif;
    }
   
}






//Carousel//
.carousel{
    margin-top: 2rem; 
    
}




//grilla de estrenos//
.estrenos{
    
    .peliculas{
        margin-top: 2rem;
        padding: 0;
            width: 100%;
        .pelis_juegos{
                img{
                    @extend %imagenPelisJuegos
                }
                    img:hover{
                        transform: scale(1.1, 1.1);
                    }
                .contenidoCard{
                        h5{
                            margin-top: 1.4rem;
                            font-size: 1.4rem;
                            
                        }
                        p{
                            margin: 3px;
                        }
                    }    
                .btn{
                     @extend %botonDeCompra       
                        }
                        .btn:hover{
                            color: #c501e2;
                        }
                    
        }
    }    

    @media (max-width: 568px){
        .pelis_juegos img{
            width: 8rem;
        }
    }
}    


//grilla de juegos//
   
.juegos{
        .grillaJuegos{
            margin-top: 2rem;
            padding: 0;
            width: 100%;
                
                .pelis_juegos{
                        img{
                            @extend %imagenPelisJuegos
                        }
                            img:hover{
                                transform: scale(1.1, 1.1);
                            }
                        .contenidoCard{
                                h5{
                                    margin-top: 1.4rem;
                                    font-size: 1.4rem;
                                    
                                }
                                p{
                                    margin: 3px;
                                }
                            }    
                        .btn{
                            @extend %botonDeCompra       
                                }
                                .btn:hover{
                                    color: #c501e2;
                                }
                            
                }
        }    

        @media (max-width: 568px){
            .pelis_juegos img{
                width: 8rem;
            }
        }
}
